{
  "env": {
    "testing": {
      "presets": ["react", "env"],
      "plugins": ["transform-runtime","transform-object-rest-spread", "add-react-displayname"]
    },
    "production": {
      "presets": [
        "react",
        ["env", {
          "modules": false
        }]
      ],
      "plugins": ["external-helpers", "transform-export-default","transform-object-rest-spread"]
    }
  }
}
