{
 "presets": ["@babel/env", "@babel/react"],
  "plugins": [
    "babel-plugin-react-docgen",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-template-literals",
    "@emotion/core"
  ],
  "env": {
    "test": {
      "presets": ["@babel/env", "@babel/react"],
      "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-template-literals",
        "@emotion/core"
      ],},
    "static": {
      "presets": [["@babel/env", {"targets": { "node": "current"}}], "@babel/react" ],
      "plugins": [ "@emotion/core", "dynamic-import-node-babel-7", [
          "module-resolver",
          {
            "root": ".",
          }
        ]]
    }
  }
}