/* =======================================================================
  Typography 
========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Open+Sans:400,500,700');

html {
  @apply text-base !important;
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1,
h2,
h3,
h4,
h5 {
  text-rendering: optimizelegibility !important;
  @apply font-medium font-title !important;
  /*
  if you're going to use webfonts, be sure to check your weights
  http://css-tricks.com/watch-your-font-weight/
  */

  /* removing text decoration from all headline links */
  a {
    text-decoration: none !important;
  }
}

h1 {
  @apply leading-tight !important;
}
h2 {
  @apply leading-normal text-2xl !important;
}
h3 {
  @apply leading-tight text-xl !important;
}
h4 {
  @apply text-base leading-loose !important;
}
/*h5 {}*/

/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  -ms-word-break: break-all !important;
  -ms-word-wrap: break-all !important;
  word-break: break-word !important;
  word-break: break-word !important; // cleaning up the ragged lines and breaks
  -webkit-hyphens: auto !important;
  -moz-hyphens: auto !important;
  hyphens: auto !important; // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2 !important;
  -webkit-hyphenate-after: 3 !important;
  hyphenate-lines: 3 !important; // enabling fancy ligatures when available
  -webkit-font-feature-settings: 'liga', 'dlig' !important;
  -moz-font-feature-settings: 'liga=1, dlig=1' !important;
  -ms-font-feature-settings: 'liga', 'dlig' !important;
  -o-font-feature-settings: 'liga', 'dlig' !important;
  font-feature-settings: 'liga', 'dlig' !important;

  max-width: 34rem;
  @apply font-body leading-normal font-normal my-5 !important;
}

ol,
ul {
  li > p {
    @apply m-0 p-0 !important;
  }
}

ul {
  @apply pl-10;
  list-style-type: disc;
  li {
    @apply p-2 !important;
  }
}

ol {
  counter-reset: li !important;
  @apply list-reset
    ml-0 
    pl-0 !important;
  & > li {
    @apply relative 
      ml-12
      mt-0 
      pt-0
      pr-3
      pl-6 
      pb-6
      border-l-2 
      border-solid 
      border-secondary
      font-body 
      font-normal 
      leading-normal !important;
    &:last-child {
      @apply border-transparent pb-0 !important;
    }

    &:before {
      content: counter(li) !important;
      counter-increment: li !important;
      left: -14px !important;
      -moz-box-sizing: border-box !important;
      -webkit-box-sizing: border-box !important;
      box-sizing: border-box !important;
      @apply absolute 
        w-6
        h-6
        p-0 
        bg-tertiary
        rounded-full 
        text-sm
        text-center 
        text-white
        leading-normal 
        font-title 
        font-semibold !important;
    }
  }
}

blockquote {
  @apply relative
    ml-0
    p-3
    border-l-5
    border-tertiary
    text-xl
    font-title
    italic
    text-secondary
    leading-normal !important;
}

/* Grouping content
   ========================================================================== */
hr {
  box-sizing: content-box !important;
  height: 0 !important;
  overflow: visible !important;
  @apply border-dotted w-full border-t-2 border-dotted border-grey-light !important;
}

/*pre {
  font-family: monospace, monospace !important;  font-size: 1em !important;}*/

/* Text-level semantics
   ========================================================================== */
/*a {
  background-color: var(--KF-textColors-transparent, transparent); 
  -webkit-text-decoration-skip: objects; 
}


abbr[title] {
  border-bottom: var(--KF-shadows-none, none) !important;  text-decoration: underline; 
  text-decoration: underline dotted;  
}

b,
strong {
  font-weight: inherit !important;}

code,
kbd,
samp {
  font-family: monospace, monospace; 
  font-size: 1em !important;}

dfn {
  font-style: italic !important;}


mark {
  background-color: #ff0 !important;  color: #000 !important;}

small {
  font-size:  80% !important;}

sub,
sup {
  font-size:  75% !important;  line-height:  0 !important;  position: relative !important;  vertical-align: baseline !important;}

sub {
  bottom: -0.25em !important;}

sup {
  top: -0.5em !important;}
*/
