import React from "react";
import PropTypes from "prop-types";

/**
 * General component description.
 */
const {{reactCase name}} = ({example}) => (
  <div></div>
);

{{reactCase name}}.propTypes = {
  /**
   * A consice description of the example prop.
   */
  example: PropTypes.string
};

{{reactCase name}}.defaultProps = {};

/**
 * @component
 */
export default {{reactCase name}};
